.container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  color: rgba(255, 255, 255, .8);
  background: linear-gradient(transparent, rgb(0, 0, 0, .2));
  transition: color .1s;
  justify-content: end;
}

.container:hover {
  color: rgba(255, 255, 255, .5);
}

.icon {
  text-decoration: none;
  padding: 1rem;
  color: inherit;
  transition: color 0.5s;
  box-sizing: border-box;
  line-height: 0;
  font-size: 28px;
}

.icon:hover {
  color: rgba(255, 255, 255, 1.0);
}