.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.star {
  background-color: rgb(220, 220, 220);
  width: 4px;
  height: 4px;
  transform: rotate(45deg);

  transition: transform 0.2s;
}

.star:hover {
  transform: rotate(405deg);
}
