---
import { Octokit } from '@octokit/rest';
import Home from '@templates/home/index.astro';
import Contact from '@templates/contact/index.astro';
import Page from '@templates/page/index.astro';
import { GITHUB_TOKEN } from 'astro:env/server';

const octokit = new Octokit({
  auth: GITHUB_TOKEN,
});
const { data: profile } = await octokit.users.getByUsername({
  username: 'storycraft',
});
const email = 'storycraft@pancake.sh';

const twitterUrl = 'https://x.com/storycraft8814';
const youtubeUrl = 'https://www.youtube.com/@storycraft8814';
---

<Page title="Access a new world!">
  <Home
    profile={{
      name: profile.name || "",
      status: profile.bio || "",
      imageUrl: profile.avatar_url,
    }}
    link={{
      github: profile.html_url,
      twitter: twitterUrl,
      youtube: youtubeUrl,
    }}
  />
  <Contact email={email} />
  <a href="/about">Test</a>
</Page>
