---
import Home from "@templates/home/index.astro";
import Contact from "@templates/contact/index.astro";
import Page from "@templates/page/index.astro";
import { user } from '../user';
---

<Page title="Access a new world!">
  <Home
    profile={{
      name: user.profile.name || "",
      status: user.profile.statusMessage || "",
      imageUrl: user.profile.avatarUrl,
    }}
    link={{
      github: user.loginId,
      twitter: user.socials.twitter,
      youtube: user.socials.youtube,
    }}
  />
  {user.email && <Contact email={user.email} />}
  <a href="/about">Test</a>
</Page>
