@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css');

html {
  font-family: 'NeoDunggeunmo';
}

html,
body {
  margin: 0px 0px;
  padding: 0px 0px;
  color: rgb(255, 255, 255);
  min-height: 100%;
  background-color: rgb(30, 30, 42);
}

::selection {
  background-color: rgb(78, 47, 116);
  color: rgb(255, 255, 255);
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}