---
import './index.css';
import { PancakeApp } from '../app';
---
<html>
  <head>
    <title>Access a new world!</title>
    <meta name="viewport" content="initial-scale=1.0" />
  </head>
  <body><PancakeApp client:load /></body>
</html>
