---
import { ContactForm } from '.';

type Props = {
  email: string;
};
---

<style>
  .contact-container {
    box-sizing: border-box;
    padding: 2rem;
    max-width: 720px;
    margin: auto;
  }
</style>
<div class="contact-container">
  <ContactForm email={Astro.props.email} client:only="solid-js" />
</div>
