---
import { BackgroundImage, Profile, type ProfileProps } from "./components";
import { Links, type LinksProps } from "./components/links";
import { StarsBackground } from "./components/stars";
import LandscapeImage from "./landscape.png?url";

type Props = {
  profile: ProfileProps,
  link: LinksProps,
};
---

<style>
  .container {
    background-color: rgb(20, 20, 28);
    position: relative;
    height: 100svh;
  }
</style>
<section class="container">
  <BackgroundImage imageUrl={LandscapeImage} client:load />
  <StarsBackground client:only="solid-js" />
  <Profile
    {...Astro.props.profile}
    client:load
  />
  <Links {...Astro.props.link} />
</section>
