@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}

html,
body {
  margin: 0px 0px;
  padding: 0px 0px;
  color-scheme: dark;
}

::selection {
  background-color: rgb(78, 47, 116);
  color: rgb(255, 255, 255);
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
